.row
{
   text-align: center;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    position: relative;
    padding: 1px;
    
}
.two
{

    border: 1px solid black;
}
h1
{
    text-align: center;
}
footer
{
    text-align: center;
}
.row
{
    margin-top: 100px;
    margin-bottom:100px;
}
.container
{
    margin-top: 10px;
    margin-bottom: 50px;
}